@import 'reset';
@import 'clearfix';
.nav-color{
  background-color: rgba(0,0,0,0.5);
}
.banner{
  background-image: url('../images/wallpaper2you_122548.jpg');
  height: 380px;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}
@media(max-width:768px){
  .banner{
    height: auto;
  }
}
.btn-color{
  background-color: rgba(0,0,0,0.7);
}
.linearrow{
  border-bottom: 2px dashed #784bbc;
  height: 20px;
  .line{
    color: #784bbc;
    i{
      background-color: #ffff;
    }
  }
}
.crad-size{
  max-height: 300px;
  background-position: center center;
  background-size: cover;
}
.areaName{
  font-size: 48px;
}
.margin-b{
  margin-bottom: 100px;
}
.sapn-color{
  color:yellow;
}